@model AspNet_FilRouge.Models.Bicycle

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bicycle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeOfBike)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfBike)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FreeTaxPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FreeTaxPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exchangeable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exchangeable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Insurance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insurance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deliverable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deliverable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WheelSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WheelSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Electric)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Electric)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Confort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Confort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.IdOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.IdOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shop.ShopId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shop.ShopId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.IdCustomer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.IdCustomer)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
