@model Entities.Bicycle

@{
    ViewBag.Title = "Ajouter un vélo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ajouter un vélo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.TypeOfBike, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.TypeOfBike, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Category, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Category, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Reference, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Reference, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.FreeTaxPrice, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.FreeTaxPrice, new { @class = "form-control", type = "number", step = "0.01" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Size, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Size, new { @class = "form-control", type = "number", step = "0.1" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Weight, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Weight, new { @class = "form-control", type = "number", step = "0.1" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.WheelSize, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.WheelSize, new { @class = "form-control", type = "number", step = "0.1" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Color, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Color, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Brand, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Brand, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.State, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Confort, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Confort, new { @class = "form-control" })
        </div>

        <div class="checkbox">
            <label>@Html.CheckBoxFor(m => m.Exchangeable) Echangeable</label>
        </div>

        <div class="checkbox">
            <label>@Html.CheckBoxFor(m => m.Insurance) Assurance</label>
        </div>

        <div class="checkbox">
            <label>@Html.CheckBoxFor(m => m.Deliverable) Livrable</label>
        </div>

        <div class="checkbox">
            <label>@Html.CheckBoxFor(m => m.Electric) Electrique</label>
        </div>

        <div class="form-group" style="margin-top:15px;">
            <input type="submit" value="Créer" class="btn btn-primary" />
            @Html.ActionLink("Retour", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
}
