@model Entities.Bicycle

@{
    ViewBag.Title = "Détails du vélo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Détails du vélo</h2>

<div>
    <h4>Vélo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Type de vélo</dt>
        <dd>@Html.DisplayFor(model => model.TypeOfBike)</dd>

        <dt>Catégorie</dt>
        <dd>@Html.DisplayFor(model => model.Category)</dd>

        <dt>Référence</dt>
        <dd>@Html.DisplayFor(model => model.Reference)</dd>

        <dt>Prix HT</dt>
        <dd>@Html.DisplayFor(model => model.FreeTaxPrice)</dd>

        <dt>TVA</dt>
        <dd>@Html.DisplayFor(model => model.Tax)</dd>

        <dt>Quantité</dt>
        <dd>@Html.DisplayFor(model => model.Quantity)</dd>

        <dt>Échangeable</dt>
        <dd>@Html.DisplayFor(model => model.Exchangeable)</dd>

        <dt>Assurance</dt>
        <dd>@Html.DisplayFor(model => model.Insurance)</dd>

        <dt>Livrable</dt>
        <dd>@Html.DisplayFor(model => model.Deliverable)</dd>

        <dt>Taille</dt>
        <dd>@Html.DisplayFor(model => model.Size)</dd>

        <dt>Poids</dt>
        <dd>@Html.DisplayFor(model => model.Weight)</dd>

        <dt>Couleur</dt>
        <dd>@Html.DisplayFor(model => model.Color)</dd>

        <dt>Taille des roues</dt>
        <dd>@Html.DisplayFor(model => model.WheelSize)</dd>

        <dt>Électrique</dt>
        <dd>@Html.DisplayFor(model => model.Electric)</dd>

        <dt>État</dt>
        <dd>@Html.DisplayFor(model => model.State)</dd>

        <dt>Marque</dt>
        <dd>@Html.DisplayFor(model => model.Brand)</dd>

        <dt>Confort</dt>
        <dd>@Html.DisplayFor(model => model.Confort)</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
