@model IEnumerable<AspNet_FilRouge.Models.Bicycle>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bicycle - Menu</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfBike)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FreeTaxPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exchangeable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Insurance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deliverable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WheelSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Electric)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Confort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TypeOfBike)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Category)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Reference)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FreeTaxPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Exchangeable)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Insurance)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Deliverable)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Size)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Weight)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Color)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.WheelSize)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Electric)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.State)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Brand)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Confort)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Order.IdOrder)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Shop.Nameshop)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Customer.FirstName)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>

<div>
    @Html.ActionLink("Back", "../Home/Index")
</div>
