@model AspNet_FilRouge_Vendeur.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Créer un mot de passe";
}

<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Vous n'avez pas encore de mot de passe local pour ce site. Ajoutez un mot de passe local pour vous connecter sans identifiant externe.
</p>

@using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Créer un identifiant local</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row mb-3">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="row mb-3">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-form-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="row mb-3">
        <div class="offset-md-2 col-md-10">
            <input type="submit" value="Définir le mot de passe" class="btn btn-secondary" />
        </div>
    </div>
}
@section Scripts {
    // Scripts.Render removed
}