@model Entities.Customer

@{
    ViewBag.Title = "Détails du client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Détails du client</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Ville</dt>
        <dd>@Html.DisplayFor(model => model.Town)</dd>

        <dt>Code postal</dt>
        <dd>@Html.DisplayFor(model => model.PostalCode)</dd>

        <dt>Adresse</dt>
        <dd>@Html.DisplayFor(model => model.Address)</dd>

        <dt>Points de fidélité</dt>
        <dd>@Html.DisplayFor(model => model.LoyaltyPoints)</dd>

        <dt>Téléphone</dt>
        <dd>@Html.DisplayFor(model => model.Phone)</dd>

        <dt>Email</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>

        <dt>Genre</dt>
        <dd>@Html.DisplayFor(model => model.Gender)</dd>

        <dt>Nom</dt>
        <dd>@Html.DisplayFor(model => model.LastName)</dd>

        <dt>Prénom</dt>
        <dd>@Html.DisplayFor(model => model.FirstName)</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
