@model AspNet_FilRouge.Models.PaginatedList<AspNet_FilRouge.Models.Order>

@{
    ViewBag.Title = "Commandes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Commandes</h2>

<table class="table table-striped">
    <tr>
        <th>Date</th>
        <th>Mode de paiement</th>
        <th>Remise</th>
        <th>Taxe</th>
        <th>Frais de livraison</th>
        @if (User.IsInRole("Administrateur"))
        {
            <th>Actions</th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Date)</td>
            <td>@Html.DisplayFor(modelItem => item.PayMode)</td>
            <td>@Html.DisplayFor(modelItem => item.Discount)</td>
            <td>@Html.DisplayFor(modelItem => item.Tax)</td>
            <td>@Html.DisplayFor(modelItem => item.ShippingCost)</td>
            @if (User.IsInRole("Administrateur"))
            {
                <td>
                    @Html.ActionLink("Détails", "Details", new { id = item.IdOrder }) |
                    @Html.ActionLink("Annuler", "Delete", new { id = item.IdOrder }, new { @class = "text-danger" })
                </td>
            }
        </tr>
    }
</table>

@if (Model.TotalPages > 1)
{
    <nav>
        <ul class="pagination">
            <li class="@(!Model.HasPreviousPage ? "disabled" : "")">
                <a href="@(Model.HasPreviousPage ? Url.Action("Index", new { page = Model.PageIndex - 1 }) : "#")">«</a>
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="@(i == Model.PageIndex ? "active" : "")">
                    <a href="@Url.Action("Index", new { page = i })">@i</a>
                </li>
            }
            <li class="@(!Model.HasNextPage ? "disabled" : "")">
                <a href="@(Model.HasNextPage ? Url.Action("Index", new { page = Model.PageIndex + 1 }) : "#")">»</a>
            </li>
        </ul>
    </nav>
}

<div>
    @Html.ActionLink("Retour", "../Home/Index")
</div>
