@model Entities.Seller

@{
    ViewBag.Title = "Supprimer un vendeur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Supprimer un vendeur</h2>

<h3>Êtes-vous sûr de vouloir supprimer ce vendeur&nbsp;?</h3>
<div>
    <h4>Vendeur</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Nom</dt>
        <dd>@Html.DisplayFor(model => model.LastName)</dd>
        <dt>Prénom</dt>
        <dd>@Html.DisplayFor(model => model.FirstName)</dd>
        <dt>Email</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>
        <dt>Téléphone</dt>
        <dd>@Html.DisplayFor(model => model.PhoneNumber)</dd>
        <dt>Rôle</dt>
        <dd>@Html.DisplayFor(model => model.Role.Name)</dd>
        <dt>Boutique</dt>
        <dd>@Html.DisplayFor(model => model.Shop.Name)</dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-danger" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
